* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightpink;
}

.header {
    text-align: center;
    overflow: hidden;
    font-family: Lucida Console;
    font-size: 30px;
    font-weight: bold; 
    color: #736F6E;
    background-color: #AFDCEC;
    background-size: cover;
    border-radius: 20px;
    width: 60%;
    padding-left: 3%;
    padding-right: 3%;
    margin:  0 auto;
}

.list a {
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-family: Arial Rounded MT Bold;
}

.active {
    background-color: #F0D9FF;
    border-left: 2px solid hotpink;
    border-right: 2px solid hotpink;
}

main {
    background-color: #d9e2ff;
    background-size: cover;
    margin-top: 30px;
}
    

.top h2 {
    text-align: center;
    font-family: fantasy;
}

.kiri img {
    width: 320px;
    height: 320px;
    border-radius: 25px;
    margin-left: 100px;
    margin-right: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    color: transparent;
}

.kiri ul {
    float: right;
    margin-right: 90px;
    width: 550px;
    font-size: 20px;
    text-align: justify;
}


img.tengah {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1350px;
    height: 200px;
}
